.section-interests {
 
  .list {

    li {
      width: 25%;
      float: left;
      text-align: center;
      margin: 10px;
      max-width: 85px;


      .name {
        display: block;
        font-size: 0.7rem;
        line-height: 20px;
      }

      .icons {
        transition: 0.7s;
        font-size: 2rem;
        display: block;
        font-style: normal;
      }
    }
  }
}
