.section-cover {
  padding: 30px 25px;

  .section-header {
    text-align: left;
    &::after {
      display: none;
    }
  }

  .section-content {
    font-size: 1rem;
    line-height: 1.8rem;
    .signature-image {
      background: url("../../images/signature-img.png") no-repeat 0 0;
      background-size: 100%;
      width: 150px;
      height: 100px;
    }
    p {
      margin: 20px 0 0 0;
      line-height: 1.8rem;
    }
  }
}
