.right-section {
  .cover-letter {
    .section-header {
      margin-top: 30px;
      &::after {
        display: none;
      }
      span {
        margin-left: 45px;
      }
    }
    .section-content {
      padding: 10px 50px;
      text-align: justify;
      font-size: 1rem;
      line-height: 1.8rem;
      .signature-image {
        background: url("../../images/signature-img.png") no-repeat 0 0;
        background-size: 100%;
        width: 150px;
        height: 136px;
        margin: 15px 0 0;
        display: inline-block;
      }
      p {
        margin: 20px 0 0 0;
      }
    }
  }
}
