.wrapper {
  max-width: var(--width-wrapper);
  margin: 0 auto;
  box-shadow: 1px 1px 4px 0 var(--color-grey-2);

  .section-header {
    position: relative;
    text-align: center;
    margin: 0;

    .heading {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.25rem;
      position: relative;
      z-index: 100;
      background: var(--color-white);
      padding: 0 10px;
    }

    &::first-letter {
      font-size: 1.75rem;
    }

    &::after {
      content: "";
      border-top: 2px solid var(--color-grey-10);
      width: 100%;
      position: absolute;
      left: 0;
      top: 20px;
      z-index: 0;
    }
  }

  .section-content {
    margin: 20px 0;
  }

  .left-section {
    width: var(--width-left);
    height: var(--body-height);
    color: var(--color-white);
    background: var(--color-grey-1);
    float: left;
    font-size: 0.875rem;

    .section-header {
      .heading {
        background: var(--color-grey-1);
        font-weight: 500;
      }

      &::after {
        opacity: 0.2;
      }
    }
  }

  .right-section {
    width: calc(100% - #{var(--width-left)});
    height: var(--body-height);
    background: var(--color-white);
    float: left;
    font-size: 0.875rem;
  }
}

.clear-all {
  clear: both;
}
