/*==========================Media Queries=====================*/

@media screen and (max-device-width: 800px) {

  .wrapper {
    .left-section,
    .right-section {
      width: 100%;
      height: auto;
    }

    .section-experience-education{
      .datetime{
        float: none !important;
        margin-top: 8px;
      }
    }

    .app-footer {
      height: 80px !important;
      .updated {
        width: 100% !important;
      }
    }
  }
}
