/*==========================Media Queries=====================*/

@media screen and (max-device-width: 800px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    .left-section,
    .right-section {
      width: 100%;
      height: auto;
    }

    .app-footer {
      height: 80px !important;
      .updated {
        width: 100% !important;
      }
    }
  }
}
