* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--color-grey-9);
  margin: 0;
  font: 100% var(--font-stack);
  color: var(--color-grey-1);
}

a {
  color: var(--color-blue-1);
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-ms-clear {
  display: none;
}

p {
  margin: 10px 0 0 0;
  line-height: 1.5rem;
}
