.profile-badge {
  position: relative;
  text-align: center;
  margin: 0 0 10px;

  .cover-image {
    height: 375px;
    background: url("../images/profile-img.jpg") no-repeat 0 0;
    background-size: 100%;
    filter: grayscale(1);
  }

  .profile-image {
    transition: 0.7s;
    background: url("../images/profile-img.jpg") no-repeat 0 0;
    background-size: 100%;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    position: absolute;
    top: 65px;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid var(--color-grey-1);
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }
  }

  .name {
    font-size: 1.5rem;
    margin: 90px 0 10px;
  }

  .cover-name {
    font-size: 1.5rem;
    margin: 20px 0 10px;
  }

  .title {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 400;
  }

}
