/*--------------------------------------------*/
.icon-white{
    fill: var(--color-white);
}
.icon-blue{
    fill: var(--color-blue-3);
}
.icon-red{
    fill: var(--color-red-1);
}
.icon-orange{
    fill: var(--color-orange-1);
}
.icon-green{
    fill: var(--color-green-1);
}
.icon-yellow{
    fill: var(--color-yellow-1);
}
.icon-grey{
    fill: var(--color-grey-9);
}
.icon-s24{
    width: 24px;
    height: 24px;
}
.icon-s26{
    width: 26px;
    height: 26px;
}
.icon-s30{
    width: 30px;
    height: 30px;
}
.icon-s32{
    width: 32px;
    height: 32px;
}
.hide-me{
    display:none;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.clear-all{
    clear:both;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: left;
}
.bullet{
    height: 25px;
    border-radius: 20px;
    font-size: 0.8rem;
    display: inline-block;
    padding: 0 13px;
    margin: 2px 5px 2px 0;
    line-height: 27px;
    color: var(--color-white);
}
.v-spacer{
    height: 1rem;
}