.section-skills {
  padding: 20px;

  .skill-stats {
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 0.75rem;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: rgba(173, 173, 173, 0.5);
    .skill-bar {
      float: left;
      &.frontend {
        background: var(--color-blue-1);
      }
      &.middleware {
        background: var(--color-blue-2);
      }
      &.backend {
        background: var(--color-blue-3);
      }
      &.others {
        background: var(--color-blue-4);
      }
    }
  }
  .skill-list {
    overflow: hidden;
    font-size: 0.875rem;
    .item {
      float: left;
      min-width: 50%;
      margin-bottom: 5px;
      &:before {
        content: "|";
        margin-right: 6px;
      }
    }
  }
}
