.app-footer {
    height: 40px;
    font-size: .850rem;
    background: var(--color-grey-3);
    color: var(--color-white);
    z-index: 100;
    position: relative;
    .updated{
        line-height: 40px;
        text-align: center;
        width: var(--width-left);
    }
    .hashtags{
        line-height: 40px;
        margin: 0 70px;
        display: inline-block;
        .hashtag{
            color: var(--color-blue-3);
            font-size: .8rem;
            margin: 0 10px;
            font-weight: 700;
            text-decoration: none;
            cursor: default;
        }
    }
}
