.personal {
  padding: 10px 0;

  .list {
    li {
      padding: 8px 20px;
      overflow: hidden;

      .icon {
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
        &.dob {
          background-image: url("../../images/dob.svg");
        }
        &.location {
          background-image: url("../../images/location.svg");
        }
        &.subclass {
          background-image: url("../../images/subclass.svg");
        }
        &.language {
          background-image: url("../../images/language.svg");
        }
      }

      &:nth-child(1) {
        background: var(--color-grey-5);
      }

      &:nth-child(2) {
        background: var(--color-grey-6);
      }

      &:nth-child(3) {
        background: var(--color-grey-7);
      }

      &:nth-child(4) {
        background: var(--color-grey-8);
      }

      span {
        line-height: 1.7rem;
      }
    }
  }
}
